<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#each lcCats}}
      <li class="nav-item dropdown">
        <a class="nav-link btn btn-dark dropdown-toggle" href="#" id="catId_{{this.0.id}}" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{this.0.TenChuyenMuc}}
        </a>

        <div class="dropdown-menu" aria-labelledby="catId_{{this.0.id}}">
          {{#each this}}
          {{#if (isNull this.ChuyenMucCon)}}
          <a class="dropdown-item" href="/category/{{this.id}}">Tất cả</a>
          {{else}}
          <a class="dropdown-item" href="/category/{{this.id}}">{{this.TenChuyenMuc}}</a>
          {{/if}}
          {{/each}}
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="form-inline mr-auto">
      <form class="input-group my-2 my-lg-0">
        <div class="input-group mr-sm-2">
          <input type="search" class="form-control" aria-label="Search" placeholder="Tìm kiếm...">
          <div class="input-group-append">
            <button class="btn btn btn-outline-success" type="submit"><i class="fa fa-search fa-lg"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </form>
    </div>

    <ul class="navbar-nav">
      {{#each lcUser}}
      {{#if (isEqual this.VaiTroID 1)}}
      <a class="nav-link disabled" href="/admin" tabindex="-1" aria-disabled="true">
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
        Trang quản lý
      </a>
      {{/if}}
      {{#if (isEqual this.VaiTroID 2)}}
      <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
        Chuyên mục quản lý
      </a>
      {{/if}}
      {{#if (isEqual this.VaiTroID 3)}}
      <a class="nav-link disabled" href="/reporter/post" tabindex="-1" aria-disabled="true">
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
        Đăng bài
      </a>
      {{/if}}
      {{/each}}
      {{#if lcIsAuthenticated}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{#each lcUser}}
          Hello, <b>{{TenTaiKhoan}} !</b>
          {{/each}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/account/profile">
            <i class="fa fa-user" aria-hidden="true"></i>
            Account Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/account/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/account/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/register">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Register
        </a>
      </li>
    </ul>
    {{/if}}
  </div>
</nav>