{{#section 'js'}}
<script>
    function viewDetail(index) {
        var detailIndex = "infoField" + index;
        var rowDetail = document.getElementById(detailIndex)
        if (rowDetail.style.display == "")
            document.getElementById(detailIndex).style.display = "none";
        else if (rowDetail.style.display == "none")
            document.getElementById(detailIndex).style.display = "";
    }
</script>
{{/section}}
<div class="card">
    <div class="card-header">
        <h4>Danh sách người dùng</h4>
    </div>

    <div class="card-body">
        {{#each this.List}}
        <div style="size:50px;margin:1%;background-color:aliceblue">
            <label style = "width:80%;">Người dùng {{HoTen}} </label>
            <button style = "width:19%;"type="button" class="btn btn-primary"
                onclick="viewDetail({{this.id}})"><i class="fa fa-eye" aria-hidden="true"></i>Xem chi tiết!</button>
        </div>
        <form id="infoField{{id}}"
            style="margin-left: 10%;margin-right: 10%;margin-top: 1%; margin-bottom: 2%;border:1px solid purple;display:none;">
            <div class="form-group">
                <label for="txtHoTen{{id}}">Họ và Tên:</label>
                <input class="form-control" id="txtHoTen{{id}}" value="{{HoTen}}"></input><br>
                <label>Bút danh:</label>
                <input class="form-control" id="txtButDanh{{id}}"
                    value="{{#if (isEqual VaiTroID 3)}}{{ButDanh}}{{else}}None{{/if}}">
                <label>Email:</label>
                <input class="form-control" id="txtEmail{{id}}" value="{{Email}}"></input><br>
                <label>Thời hạn:</label>
                <input id="txtEmail{{id}}" class="form-control"
                    value="{{#if (isEqual VaiTroID 4)}}{{formatDateTime ThoiHan}}{{else}}None{{/if}}"></input><br>
                <label>Vai trò:</label>
                <select id="cbRole" name="RoleID" class="form-control">
                    <option value="1" {{#when VaiTroID 'eq' 1}}selected{{/when}}>Quản trị viên</option>
                    <option value="2" {{#when VaiTroID 'eq' 2}}selected{{/when}}>Biên tập viên</option>
                    <option value="3" {{#when VaiTroID 'eq' 3}}selected{{/when}}>Phóng viên</option>
                    <option value="4" {{#when VaiTroID 'eq' 4}}selected{{/when}}>Độc giả</option>
                </select>
                <label>Chuyên mục quản lý:</label>
                <label>Action:</label>
            </div>
        </form>
        {{/each}}
    </div>
</div>