{{#section 'css'}}
<style>
    .image-container {
        position: relative;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-container:hover .image {
        opacity: 0.3;
    }

    .image-container:hover .middle {
        opacity: 1;
    }
</style>
{{/section}}
{{#each lcUser}}
{{#if RoleID}}
<h6 class="d-block"><a href="javascript:void(0)">Vai trò:Admin</h6>
{{else}}
<h6 class="d-block"><a href="javascript:void(0)">Vai trò:User</h6>
{{/if}}

{{/each}}

{{#each lcUser}}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-4">
                    <div class="d-flex justify-content-start">
                        <div class="image-container">
                            <img src="/public/account_image/{{urlImage}}.jpg" id="imgProfile"
                                style="width: 150px; height: 150px" class="img-thumbnail" />
                            <div class="middle">
                                <form method="POST" action="" enctype="multipart/form-data">
                                    <input type="file">
                                    <input type="submit" class="btn btn-secondary" id="btnChangePicture"
                                        value="Change" />
                                </form>
                                <input type="file" style="display: none;" id="profilePicture" name="file" />
                            </div>
                        </div>
                        <div class="userData ml-3">
                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                    href="javascript:void(0);">{{UserName}}</a></h2>
                            {{!-- <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                            <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6> --}}

                        </div>
                        <div class="ml-auto">
                            <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                value="Discard Changes" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                    role="tab" aria-controls="basicInfo" aria-selected="true">Thông tin cơ bản</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="connectedServices-tab" data-toggle="tab"
                                    href="#connectedServices" role="tab" aria-controls="connectedServices"
                                    aria-selected="false">Danh sách
                                    hội nghị đã đăng ký</a>
                            </li>
                        </ul>
                        <div class="tab-content ml-1" id="myTabContent">
                            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                aria-labelledby="basicInfo-tab">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Email:</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{Email}}
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Số điện thoại:</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{PhoneNumber}}
                                    </div>
                                </div>
                                <hr />

                            </div>
                            {{/each}}
                            <div class="tab-pane fade" id="connectedServices" role="tabpanel"
                                aria-labelledby="ConnectedServices-tab">
                                <div class="row">
                                    {{#each this.List}}
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <img class="card-img-top"
                                                    src="/public/conferenceImage/{{urlImage}}"
                                                    alt="Card image cap">
                                                <h4 class="card-title">{{name}}</h4>
                                                <p class="card-text"><b>Mô tả :</b>{{tinyDes}}</p>
                                                <p class="card-text"><b>Thời gian diễn ra:</b> {{beginDate}}</p>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <a name="detail" id="btnDetail" class="btn btn-primary btn-sm"
                                                    href="/conference/detail/{{ConferenceID}}" role="button">
                                                    <i class="fa fa-bullseye" aria-hidden="true"></i></i>
                                                    Xem chi tiết!
                                                </a>
                                                {{#if IsAccepted}}
                                                <div class="alert alert-primary" role="alert">
                                                    <strong>Đã duyệt</strong>
                                                </div>
                                                {{else}}
                                                <div class="alert alert-primary" role="alert">
                                                    <strong>Chưa được duyệt</strong>
                                                </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>