{{#section 'css'}}
<style>
    .image-container {
        position: relative;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-container:hover .image {
        opacity: 0.3;
    }

    .image-container:hover .middle {
        opacity: 1;
    }
</style>
{{/section}}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-4">
                    <div class="d-flex justify-content-start">
                    </div>

                    <div class="row">
                        <div class="col-12">
                            
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                    aria-labelledby="basicInfo-tab">
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Họ và tên:</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                             {{lcAuthUser.HoTen}}

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Bút danh:</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{lcAuthUser.ButDanh}}

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email:</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{lcAuthUser.Email}}

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Ngày sinh:</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{lcAuthUser.NgaySinh}}

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Thời hạn tài khoản:</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{lcAuthUser.ThoiHan}}

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Chuyên mục quản lý:</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{lcAuthUser.TenChuyenMuc}}
                                        </div>
                                    </div>

                                    <hr />
                                    <a class="btn btn-primary btn-sm" href="/account/profile/edit" role="button"
                                        title="">
                                        <i class="fa fa-pencil" aria-hidden="true">Sửa thông tin</i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" href="/account/password/edit" role="button"
                                        title="">
                                        <i class="fa fa-pencil" aria-hidden="true">Đổi mật khẩu</i>
                                    </a>
                                    {{!-- <a class="btn btn-primary btn-sm" href="/account/ConfirmEmail" role="button"
                                        title="">
                                        <i class="fa fa-pencil" aria-hidden="true">quên</i>
                                    </a> --}}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>